{% load static %}
<div class="d-inline-block">
    {% if status == "draft" %}
        <span class="badge bg-secondary">Черновик</span>
    {% elif status == "planned" %}
        <span class="badge bg-info">Запланирован</span>
    {% elif status == "in_progress" %}
        <span class="badge bg-warning text-dark">В выполнении</span>
    {% elif status == "completed" %}
        <span class="badge bg-success">Завершён</span>
    {% elif status == "cancelled" %}
        <span class="badge bg-danger">Отменён</span>
    {% else %}
        <span class="badge bg-light text-dark">{{ status }}</span>
    {% endif %}
</div>
